@import "header";
@import "greeting";
@import "footer";

@font-face {
  font-family: "Avenir";
  src: url("../fonts/Avenir.ttf") format("truetype"),
    url("../fonts/Avenir.eot") format("embedded-opentype"),
    url("../fonts/Avenir.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700&display=swap");

@mixin set_size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin put-in_border() {
  border: 1px solid #e1e7ed;
  box-sizing: border-box;
  border-radius: 3px;
}

html,
body {
  margin: 0;
  box-sizing: border-box;
  min-width: 900px;
}

body {
  font-family: "Avenir", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  background: #fff;
  color: #3d4e61;
}

.apartment-photo {
  @include set_size(100%, 464px);
  margin: 0 0 39px;
}

.small-text {
  font-size: 14px;
  line-height: 16px;
}

.custom-message {
  @include set_size(482px, 104px);
  font-size: 18px;
  line-height: 28px;
}

.details {
  display: grid;
  grid-template-columns: 53.49% 36.63%;
  grid-column-gap: 89px;

  .left_apartment-describes_column {
    @include set_size(482px, auto);
    justify-self: right;

    p {
      line-height: 24px;
      font-stretch: semi-condensed;
      @include set_size(482px, 104px);
    }

    .apartment-description {
      position: relative;

      .main-header {
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 36px;
        line-height: 42px;
        margin: 0 0 17px;
      }

      .entire-header {
        @include set_size(173px, 25px);
        margin: 0 0 19px;
        color: #687c94;
        font-stretch: semi-expanded;
      }

      .inline-entire-list {
        display: grid;
        margin: 0 0 32px;
        grid-template: repeat(auto-fill, 25px) / repeat(auto-fill, 80px);
        grid-gap: 13px;
      }

      p {
        margin: 0 0 22px;
      }

      .hosts-contacts {
        @include set_size(173px, 25px);
        font-weight: 600;
        margin: 0 0 48px;
      }
    }

    .extra {
      h3 {
        @include set_size(113px, 24px);
        font-size: 20px;
        line-height: 23px;
        margin: 0 0 25px;
      }

      .amenities {
        display: grid;
        grid-template: repeat(2, 25px) / repeat(auto-fill, 173px);
        gap: 23px 17px;
        margin: 0 0 17px;
      }

      .button_show-amenities {
        @include set_size(173px, 25px);
        font-weight: 600;
        margin: 0 0 70px;
      }
    }

    .reviews {
      .reviews_header {
        font-size: 28px;
        line-height: 33px;
        margin: 0 0 40px;
      }

      .customer-review {
        position: relative;
        margin: 0 0 17px;

        .customer-detail {
          margin: 0 0 23px;
          $ellipse-width: 50px;
          $gap: 21px;
          display: grid;
          grid-template: 50px / 50px calc(100% - #{$ellipse-width} - #{$gap});
          grid-column-gap: $gap;

          .ellipse {
            @include set_size($ellipse-width);
            background: #c4c4c4;
            border-radius: 50%;
          }

          .customer-message-date,
          .customer-name {
            margin: 0;
            @include set_size(173px, 25px);
            line-height: 25px;
          }

          .customer-name {
            font-size: 20px;
          }
        }

        .custom-message {
          margin: 0 0 17px;
        }
      }
    }

    .reviews:last-child {
      margin: 0 0 31px;
    }

    .about-host {
      margin: 0 0 95px;
      position: relative;

      h2 {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 28px;
        line-height: 33px;
        margin: 0 0 11px;
      }

      .small-text {
        @include set_size(173px, 25px);
        margin: 0 0 11px;
      }

      .contact_button {
        position: absolute;
        @include set_size(150px, 50px);
        border: 1px solid #118488;
        box-sizing: border-box;
        border-radius: 4px;
        color: #118488;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        line-height: 50px;
        bottom: -20px;
      }
    }
  }

  .right_book-apartment_column {
    justify-self: left;

    .book-form {
      @include set_size(330px, 319px);
      @include put-in_border();
      padding: 30px;
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      line-height: 19px;
      font-weight: 300;

      .desired-date,
      .guests {
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        @include set_size(270px, 50px);
        @include put-in_border();
        padding: 13.75px 17px ;
      }

      .desired-date {
        margin: 42px 0 0;
      }

      .guests {
        margin: 16px 0 0;
      }

      .red {
        background: #fd5c63;
      }

      .button-wrapper {
        @include set_size(270px, 50px);
        border-radius: 4px;
        margin: 24px 0 0;

        .submit-button {
          font-family: "Roboto", sans-serif;
          font-size: 16px;
          @include set_size(auto, auto);
          border: none;
          margin: 15px 96.74px 16px;
          color: #fff;
          text-align: center;
        }
      }
    }
  }
}

ul,
li,
a {
  font-family: "Avenir", sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: #3d4e61;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
